body{
    font-family:Arival,Helvetica,sans-serif;
    background-color:#f4f4f4;
    margin: 0%;
    padding:0%;
}
header{
    background-color: #4caf54;
    color: white;
    padding: 10px;
    text-align:center;
}
main{
    display:flex;
    justify-content: center;
    align-items:center;
    height:80vh
}
.cpy-container{
    background-color: violet;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0, 0,0, 1)
    width:300px;
}
.cpy-container{
    margin: bottom 20px;
    color: #4caf54;
    text-align: center;
}
.form-group{
    margin-bottom: 15px;
}
.form-group  label{
    display:block;
    margin-bottom:20px;
    color:#333;
}
.form-group input{
    padding: 20px;
    width:100%;
    margin-bottom: 17px;
    border:1px solid #ddd;
    border-radius:5px;
}
button{
    width:100%;
    padding: 10px;
    cursor:pointer;
    color;blanchedalmond;
    border:none;
    background-color: #4caf54;
}
buttom:hover{
    background-color:#232323
}
p{
    margin-top:15px;
    text-align:center;
}
p a{
   color:aquamarine;
   text-decoration: none;
}
p a:hover{
    text-decoration:underline;
}
